<%= turbo_frame_tag "guest_groupings_form" do %>
  <div class="mb-4">
    <div class="flex flex-col space-y-2 mb-4">
      <% ungrouped_guests.each do |guest| %>
        <%= link_to guest_groupings_path(guest_group_id: guest_group.id, guest_ids: guest_group.guest_groupings.map(&:guest_id) + [guest.id]), data: { turbo_method: :post } do %>
          <span class="text-gray-700">+ <%= guest.name %></span>
        <% end %>
      <% end %>
    </div>
    <% guest_group.guest_groupings.each_with_index do |guest_grouping, index| %>
      <%= link_to guest_groupings_path(guest_group_id: guest_group.id, guest_ids: guest_group.guest_groupings.map(&:guest_id) - [guest_grouping.guest.id]), data: { turbo_method: :post } do %>
        <span class="text-gray-700 p-2 rounded-md border bg-blue-200 border-blue-500"><%= guest_grouping.guest.name %></span>
      <% end %>
      <input autocomplete="off" type="hidden" value="<%= guest_grouping.id %>" name="guest_group[guest_groupings_attributes][<%= index %>][id]" id="guest_group_guest_groupings_attributes_<%= index %>_id">
      <input autocomplete="off" type="hidden" value="<%= guest_grouping.guest.id %>" name="guest_group[guest_groupings_attributes][<%= index %>][guest_id]" id="guest_group_guest_groupings_attributes_<%= index %>_guest_id">
    <% end %>
  </div>
<% end %>
